{{ define "main" }}
  <article class="w-full">
    <h1 class="post-title md:text-6xl mr-auto text-4xl">{{ .Title }}</h1>
    {{ if eq .Type "posts" }}
      {{ partial "meta.html" . }}
    {{ end }}
    {{ if ne .Params.hero nil }}
      <section class="hero">
        {{ partial "img.html" (dict "src" .Params.hero.img "alt" .Params.hero.alt) }}
      </section>
    {{ end }}
    <section class="content">{{ .Content }}</section>
    {{ if ne .Params.footer nil }}
      <section class="footer">
        {{ partial "img.html" (dict "src" .Params.footer.img "alt" .Params.footer.alt) }}
      </section>
    {{ end }}
  </article>
{{ end }}
