{{ define "main" }}
  <h1
    class="col-start-2 font-bold font-mdNichrome mb-8 mt-0 text-5xl w-full sm:text-5xl"
    data-line="slim"
  >
    Tags
  </h1>
  <section class="taxonomy mb-4 w-full">
    <ul class="taxonomy-list gap-3 grid list-none mt-6 p-0 w-full">
      {{ range .Data.Terms.ByCount }}
        <li class="flex h-auto items-center justify-center m-0 p-0 relative">
          <a class="tags focus:no-underline hover:no-underline leading-none lowercase no-underline p-2 text-center xs:text-left xs:text-xl whitespace-nowrap" href="{{ .Page.Permalink }}">
            <span class="mr-1 text-tertiary" aria-hidden="true">#</span>
            {{ .Page.Title }}
          </a>
          <p class="bg-background leading-none ml-4 mr-0 my-0 px-2 py-1 rounded-full text-sm text-tertiary">{{ .Count }}</p>
        </li>
      {{ end }}
    </ul>
  </section>
  {{ partial "intro.html" . }}
  {{ partial "party-mode.html" . }}
{{ end }}
