{{ define "heading" }}
  <h1
    class="col-start-2 font-bold font-mdNichrome mb-8 mt-0 text-5xl uppercase w-full sm:text-5xl"
    data-line="slim"
  >
    Archive
  </h1>
{{ end }}
{{ define "main" }}
  {{ range .Data.Pages.GroupByDate "2006" }}
    <section class="year-list w-full">
      <div class="border-0 border-b border-secondary border-solid flex items-end justify-between mb-3 mt-4 w-full">
        <h2 class="capitalize m-0 md:text-4xl pb-1 pt-0 text-3xl">{{ .Key }}</h2>
        <p class="bg-background leading-none mb-2 mx-0 px-2 py-1 rounded-full text-sm text-tertiary">{{ len .Pages }}</p>
      </div>
      {{ range .Pages }}
        {{ .Render "li"}}
      {{ end }}
    </section>
  {{ end }}
  {{ if ne .Params.footer nil }}
    <section class="footer w-full">
      {{ partial "img.html" (dict "src" .Params.footer.img "alt" .Params.footer.alt "size" "1024") }}
    </section>
  {{ end }}
  {{ partial "party-mode.html" . }}
{{ end }}
