{{ $navLinks := sub (len .Site.Data.nav.footer) 1 }}
<footer class="grid w-full">
  <section
    class="col-start-2 flex flex-col items-center justify-center row-start-2 w-full"
  >
    <ul
      class="auto-cols-min gap-x-1 grid grid-rows-1 items-center list-none xxs:gap-x-3 my-2"
    >
      {{ range $i, $item := .Site.Data.nav.footer }}
        <li class="m-0 row-start-1" data-item="{{ $i }}">
          <a
            class="hover:underline no-underline"
            href="{{ $item.link | absURL }}"
            {{ if .external }}
              target="_blank"
              rel="noopener noreferrer"
            {{ end }}
          >
            {{ $item.label }}
          </a>
        </li>
        {{ if ne $i $navLinks }}
          <li class="m-0 row-start-1">
            <p class="m-0 text-meta text-base" aria-hidden="true">&#8226;</p>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    <ul
      class="auto-cols-auto gap-x-1 grid grid-rows-1 items-center list-none xxs:gap-x-3 my-2"
    >
      <li class="m-0 row-start-1">
        <p class="m-0 text-sm">
          &copy; 2017-{{ time.Now.Format "2006" }} {{ .Site.Title }}
        </p>
      </li>
      <li class="m-0 row-start-1">
        <p class="m-0 text-meta text-sm" aria-hidden="true">~</p>
      </li>
      <li class="m-0 row-start-1">
        <a
          class="no-underline text-sm"
          href="https://github.com/fourjuaneight/blog"
          target="_blank"
          rel="noopener noreferrer"
        >
          Source
        </a>
      </li>
    </ul>
  </section>
</footer>
