<header class="bg-background-dark border-0 border-solid border-b-under border-meta grid mb-8 w-full">
  <section
    class="col-start-2 flex items-center justify-between row-start-2 w-full"
  >
    <a
      href="{{ .Site.BaseURL }}"
      class="site-name focus:text-primary focus:no-underline font-bold font-mdNichrome hover:text-primary hover:no-underline items-center no-underline relative text-center text-foreground text-2xl w-auto"
      data-line="slim"
      data-underline="true"
      title="{{ .Site.Title }}"
    >
      <span
        id="site-title"
        class="overflow-hidden relative whitespace-nowrap"
        data-loaded="false"
        aria-hidden="true"
      >
      </span>
    </a>
    <nav class="gap-x-4 grid grid-cols-2-min-content grid-rows-1 items-center sm:m-0 w-auto">
      {{ range .Site.Data.nav.header }}
      <a
        href="{{ .link | absURL }}"
        class="focus:no-underline font-bold font-mdNichrome hover:no-underline no-underline relative text-center text-2xl"
        data-line="slim"
        data-underline="true"
      >
        {{ .label }}
        <span class="absolute bg-primary bottom-0 duration-200 ease-in-out h-1 hidden left-0 transition-all w-0 xs:block" aria-hidden="true"></span>
      </a>
      {{ end }}
    </nav>
  </section>
</header>
