<header
  class="bg-background-dark border-0 border-b border-solid border-tertiary grid w-full"
>
  <section
    class="col-start-2 flex items-center justify-between row-start-2 w-full"
  >
    <a
      href="/"
      class="focus:no-underline focus:text-secondary font-bold font-captainEdward hover:no-underline hover:text-secondary text-xl text-primary"
    >
      {{ .Site.Title }}
    </a>
    <ul
      class="auhref-cols-min gap-x-3 grid grid-rows-1 items-center list-none m-0"
    >
      <li class="m-0 row-start-1">
        <a href='{{ "about" | absURL }}'>About</a>
      </li>
      <li class="m-0 row-start-1">
        <a href='{{ "archive" | absURL }}'>Archive</a>
      </li>
      <li class="m-0 row-start-1">
        <a href='{{ "lists" | absURL }}'>Lists</a>
      </li>
    </ul>
  </section>
</header>
