{{ $svg := .src | findRE "svg" }}
{{ $gif := .src | findRE "gif" }}
{{ $type := .src | replaceRE "(.*).(png|jpg|jpeg)" "$2" }}
{{ $imgMain := .src | replaceRE "(.*).(png|jpg|jpeg)" "$1" }}

{{ $avif := print $imgMain ".avif" }}
{{ $webp := print $imgMain ".webp" }}
{{ $img := print $imgMain "." $type }}
{{ $placeholder := print $imgMain "-placeholder." $type }}

{{ $isSmall := cond (ne .small nil) "true" "false" }}
{{ $maxWidth := cond (ne .small nil) "max-w-xxxxs" "max-w-xs" }}
{{ $sizing := cond (ne .small nil) "160" "576" }}

{{ $imgPlaceholder := resources.Get (print "/img/" $placeholder) }}

{{ if or (eq (index $svg 0) "svg") (eq (index $gif 0) "gif") }}
  {{ $simple := resources.Get (print "/img/" $img) }}
  <img
    data-src="{{ $simple.Permalink }}"
    src="{{ $imgPlaceholder.Permalink }}"
    alt="{{ .alt }}"
    class="mb-2 w-full"
    width="{{ $sizing }}"
    height="{{ $sizing }}"
    data-lazy="true"
  />
{{ else }}
<div class="img-wrap flex items-center justify-center my-4 w-full">
  {{ $avifPrimary := resources.Get (print "/img/" $avif) }}
  {{ $webpPrimary := resources.Get (print "/img/" $webp) }}
  {{ $imgPrimary := resources.Get (print "/img/" $img) }}
  <img
    data-srcset="{{ $avifPrimary.Permalink }}, {{ $webpPrimary.Permalink }}"
    data-src="{{ $imgPrimary.Permalink }}"
    src="{{ $imgPlaceholder.Permalink }}"
    alt="{{ .alt }}"
    class="{{ $maxWidth }} w-full"
    width="{{ $sizing }}"
    height="{{ $sizing }}"
    data-small="{{ $isSmall }}"
    data-lazy="true"
  />
</div>
{{ end }}
