<section class="flex items-center justify-between w-full">
  <time class="text-meta" datetime='{{ .Date.Format "2006-01-02" }}'>
    <span class="mr-1 text-tertiary" aria-label="Posted on">&tau;</span>
    {{ .Date.Format "2006-01-02" }}
  </time>
  <ul class="list-none">
    {{/* Loop over tags list in front-matter */}} {{ range $key, $tag :=
    .Params.tags }}
    <li>
      <span class="mr-1 text-tertiary" aria-hidden="true">#</span>
      <a class="text-meta" href="/tags/{{ $tag }}" itemprop="about">
        {{ $tag }}
      </a>
    </li>
    {{ end }}
  </ul>
</section>
