<svg
  width="100%"
  height="100%"
  viewBox="0 0 24 24"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xml:space="preserve"
  xmlns:serif="http://www.serif.com/"
  style="
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
  "
  class="duration-200 ease-in-out stroke-foreground h-auto transition-colors w-6"
  data-color="stroke"
  aria-hidden="true"
>
  <path d="M21,21L16.65,16.65" stroke-width="4px" style="fill-rule: nonzero" />
  <circle cx="11" cy="11" r="8" stroke-width="4px" style="fill-rule: nonzero" fill="transparent" />
</svg>