{{ define "main" }}
  <h1
    class="col-start-2 font-bold font-mdNichrome mb-8 mt-0 text-5xl uppercase w-full sm:text-5xl"
    data-line="slim"
  >
    Recent Posts
  </h1>
  {{ $blog := ($.Site.GetPage "section" "posts").Pages }}
  {{ range first 5 $blog }}
    {{ .Render "li" }}
  {{ end }}
  <a
    href='{{ "posts" | absURL }}'
    class="
      archive-link
      bg-foreground
      border-2
      border-foreground
      border-solid
      focus:border-primary
      focus:text-background
      hover:border-primary
      hover:text-background
      ml-auto
      mr-0
      my-6
      no-underline
      px-2
      py-1
      text-background
      transition-colors
    "
    data-dark="true"
  >
    View Archive
  </a>
  {{ partial "intro.html" . }}
  {{ partial "party-mode.html" . }}
{{ end }}
