{{ define "main" }}
  <h1 class="post-title md:text-6xl mr-auto text-4xl">{{ .Title }}</h1>
  <p>{{ .Content }}</p>
  <section class="w-full">
    <ul class="flex flex-wrap items-center justify-center list-none m-0 p-0 w-full">
      {{ range .Site.Data.nav.bookmarks }}
        <li class="bk-title m-4">
          <a
            href='{{ .link | absURL }}'
            class="duration-200 ease-in-out font-mdNichrome text-3xl transition-all"
          >
            {{ .label }}
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
  {{ if ne .Params.footer nil }}
    <section class="footer w-full">
      {{ partial "img.html" (dict "src" .Params.footer.img "alt" .Params.footer.alt) }}
    </section>
  {{ end }}
{{ end }}