{{ define "heading" }}
  <h1
    class="post-title col-start-2 font-bold font-mdNichrome mt-0 text-4xl uppercase w-full sm:text-5xl"
    data-line="slim"
  >
    {{ .Title }}
  </h1>
{{ end }}
{{ define "main" }}
  <p>{{ .Content }}</p>
  <section class="w-full">
    <ul class="flex flex-wrap items-center justify-start list-none mb-2 mx-0 mt-0 p-0 w-full">
      {{ range .Site.Data.nav.bookmarks }}
        <li class="mr-4 my-2 sm:my-4">
          <a
            href='{{ .link | absURL }}'
            class="bk-list duration-200 ease-in-out font-mdNichrome no-underline text-3xl transition-color focus:text-secondary hover:text-secondary"
          >
            {{ .label }}
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
  {{ if ne .Params.footer nil }}
    <section class="footer w-full">
      {{ partial "img.html" (dict "src" .Params.footer.img "alt" .Params.footer.alt "size" "1024") }}
    </section>
  {{ end }}
  {{ partial "party-mode.html" . }}
{{ end }}