{{ define "main" }}
  {{ $isArticle := cond (eq .Title "Articles") true false }}
  {{ $dTitle := cond (eq .Title "Tweets") "Tweet" "Title" }}
  {{ $dCreator := cond (eq .Title "Reddits") "Subreddit" (cond (eq .Title "Articles") "Author" (cond (eq .Title "Tweets") "User" "Creator")) }}
  {{ $tableUrl := print "https://cleverlaziness.xyz/api/bookmarks/" (lower .Title) }}
  {{ $bookmarks := getJSON $tableUrl }}

  <section class="w-full">
    <h1 class="post-title md:text-6xl mr-auto text-4xl">{{ .Title }}</h1>
    <p>Clicking on the titles will open a page to the bookmark. The small blue marking on each item indicates a broken link, unfortunately. You can also click on any of the other categories underneath to see those bookmarks.</p>
    <ul class="flex flex-wrap items-center justify-start list-none mb-2 mx-0 mt-0 p-0 w-full">
      {{ range .Site.Data.nav.bookmarks }}
        {{ if ne .label $.Title }}
          <li class="mr-4 my-4">
            <a
              href='{{ .link | absURL }}'
              class="bk-list duration-200 ease-in-out font-mdNichrome no-underline text-3xl transition-color focus:text-secondary hover:text-secondary"
            >
              {{ .label }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>
  <section
    class="bk-table h-full overflow-x-auto overflow-y-hidden w-full"
    data-loaded="true"
  >
    <div class="w-full">
      <ul
        class="
          bk-header
          bg-background-dark
          border
          border-secondary
          border-solid
          grid
          grid-rows-1
          items-center
          justify-start
          list-none
          m-0
          p-0
          w-full
        "
        data-article="{{ $isArticle }}"
      >
        <li
          class="
            bk-column-header
            col-start-1
            duration-200
            ease-in-out
            font-semibold
            m-0
            p-2
            text-xl
            w-full
          "
        >
          {{ $dTitle }}
        </li>
        <li
          class="
            bk-column-header
            col-start-2
            duration-200
            ease-in-out
            font-semibold
            m-0
            p-2
            text-xl
            w-full
          "
        >
          {{ $dCreator }}
        </li>
        {{ if $isArticle }}
          <li
            class="
              bk-column-header
              col-start-3
              duration-200
              ease-in-out
              font-semibold
              m-0
              p-2
              text-xl
              w-full
            "
          >
            Site
          </li>
        {{ end }}
        <li
          class="
            bk-column-header
            {{ if $isArticle }}col-start-4{{ else }}col-start-3{{ end }}
            duration-200
            ease-in-out
            font-semibold
            m-0
            p-2
            text-xl
            w-full
          "
        >
          Tags
        </li>
      </ul>
      <ul
        class="
          bk-body
          bg-background-dark
          border
          border-secondary
          border-solid
          border-t-0
          flex
          flex-col
          items-start
          justify-start
          list-none
          m-0
          p-0
          relative
          w-full"
        data-category="{{ lower .Title }}"
        data-article="{{ $isArticle }}"
      >
        {{ if ne $bookmarks nil }}
          {{ range sort $bookmarks (lower $dTitle) "asc" }}
            {{ $bkTitle := cond (eq $.Title "Tweets") .tweet .title }}
            {{ $bkCreator := cond (eq $.Title "Reddits") .subreddit (cond (eq $.Title "Articles") .author (cond (eq $.Title "Tweets") .user .creator)) }}
            {{ $tagsLength := sub (len .tags) 1 }}

            <li
              class="bk-cell border-solid duration-200 ease-in-out grid grid-rows-1 m-0 p-0 transition-all w-full"
              data-status="{{ .status }}"
            >
              <a
                class="col-start-1 focus:no-underline hove:no-underline m-0 no-underline p-0 px-2 relative w-full whitespace-nowrap"
                href="{{ .url }}"
                target="_blank"
                rel="noopener noreferrer"
                title="{{ $bkTitle }}"
              >{{ $bkTitle }}</a>
              <p class="col-start-2 m-0 p-0 px-2 w-full" title="{{ $bkCreator }}">
                <span class="sr-only">By: </span>
                {{ $bkCreator }}
              </p>
              {{ if $isArticle }}
                <p class="col-start-3 m-0 p-0 px-2 w-full" title="{{ .site }}">
                  <span class="sr-only">From: </span>
                  {{ .site }}
                </p>
              {{ end }}
              <div class="{{ if $isArticle }}col-start-4{{ else }}col-start-3{{ end }} overflow-x-hidden px-2 w-full" title='{{ delimit .tags ", " }}'>
                <span class="sr-only">Relevant tags: </span>
                <ul
                  class="flex items-center justify-start list-none p-0 w-full"
                >
                  {{ range $i, $tag := .tags }}
                    <li
                    class="flex items-center justify-start m-0 p-0 whitespace-nowrap"
                    >
                      <p class="leading-none m-0 p-0">{{ $tag }}</p>
                      {{ if ne $i $tagsLength }}
                        <span class="tag-comma mr-1 text-secondary" aria-hidden="true">,</span>
                      {{ end }}
                    </li>
                  {{ end }}
                </ul>
              </div>
            </li>
          {{ end}}
        {{ end}}
      </ul>
    </div>
  </section>
  {{ if ne .Params.footer nil }}
    <section class="footer w-full">
      {{ partial "img.html" (dict "src" .Params.footer.img "alt" .Params.footer.alt "size" "1024") }}
    </section>
  {{ end }}
  {{ partial "party-mode.html" . }}
{{ end }}